html, body {
  height: 100%;
  padding: 0;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  margin:0;
}

form, p {
  margin:.5em;
}

form {
    max-width:25em;
}

label, input {
  font-size: x-large
}

input {
  width: 100%;
  padding: 0;
  display: block;
}

.submit {
  margin:1em auto 1em auto;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

